<div class="container">
  <div class="question" *ngIf="!checkClicked">
    <div class="current" *ngIf="len > index">
      <h4>{{ Questions[index].name }}</h4>
      <button (click)="addAnimal()">ZWIERZ</button>
      <button (click)="addPlant()">ROSLINA</button>
    </div>
    <div class="answered" *ngIf="index > 0">
      <div>
        <h3>ZWIERZE:</h3>
        <div class="thing animal" *ngFor="let animal of answAnimals">
          {{ animal.name }}
        </div>
      </div>
      <div>
        <h3>ROSLINY:</h3>
        <div class="thing plant" *ngFor="let plant of answPlants">
          {{ plant.name }}
        </div>
      </div>
      <button (click)="check()" class="check" *ngIf="!(len > index)">
        Sprawdz
      </button>
    </div>
  </div>
  <div *ngIf="checkClicked">
    <app-answers
      [answersAnimals]="answAnimals"
      [answersPlants]="answPlants"
    ></app-answers>
  </div>
</div>
